.topLeft {
  background-color:#01abce;
  color:#fff;
  height: 100%;
}

.topRight {
  background-color:#01abce;
  color:#fff;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ion-card-footer>div {
  display: flex;
  background-color:#fff;
  padding: 5px;
  margin-left: 20px;
  align-items: center;
  justify-content: space-between;
}

.ion-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#fff;
  padding: 5px;
  margin-left: 20px;
}

.grid {
  padding: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
