.ion-card-footer>div {
  display: flex;
  background-color:#fff;
  padding: 5px;
  margin-left: 20px;
  align-items: center;
  justify-content: space-between;
}

.ion-card-headerRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ion-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#fff;
  padding: 5px;
  margin-left: 20px;
}

.grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.topLeft {
  background-color:#01abce;
  color:#fff;
  height: 100%;
}

.topLeft1 {
  background-color:#01abce;
  color:#fff;
  height: 100%;
}

.topRight {
  display: flex;
  flex-direction:column;
  background-color:#01abce;
  color:#fff;
  height: 100%;

}

.img-wrapper {
  min-height: 200px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.ion-grid .ion-row .ion-col{
  margin: 5px;
  padding: 5px;
}

.ion-grid {
  height:100%;

.bottomRow {
  height: 33.33%;
}

.topRow {
  height:33.33%;
}
}

.ion-button {
  background: blue;
}

#refreshButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  z-index: 400;
}

