<ion-app>

  <!-- top grid for cards and slider -->
  <ion-content class="ion-padding">

<ion-grid class="dashboardGrid">

    <ion-grid>
      <ion-row class="firstRow">
          <ion-col size="6" class="col-top-about">
          <ion-card class="aboutContainer">
            <div>
            <ion-card-content>
              <section class="home-container">
              <h1>About Conversations</h1>
              <h2>Card Title</h2>
              <p> Card Subtitle</p>
            </section>
            </ion-card-content>
            </div>
          </ion-card>
          </ion-col>


          <ion-col size="6" class="col-top-slider">
          <ion-card class="sliderContainer">
            <ion-card-content>
              <div class="ion-card-headerSlider"><h1>Presentation Collaterals</h1>
                <ion-button fill="clear" position="right">
                  <ion-icon  slot="icon-only" name="apps-sharp"></ion-icon>
                </ion-button>
              </div>
              <div style="position: absolute;top: 50%;left: 16px;font-size: 25px;z-index: 2;" (click)="slidePrev()">
                <ion-icon name="arrow-back"></ion-icon>
              </div>
              <div style="position: absolute;top: 50%;right: 16px;font-size: 25px;z-index: 2;" (click)="slideNext()">
                <ion-icon name="arrow-forward"></ion-icon>
              </div>
              <ion-slides paginationType="bullets" slidesPerView="1" pager="true">
                <ion-slide>
                  <h1>Slide 1</h1>
                </ion-slide>
                <ion-slide>
                  <h1>Slide 2</h1>
                </ion-slide>
                <ion-slide>
                  <h1>Slide 3</h1>
                </ion-slide>
              </ion-slides>
                </ion-card-content>
                </ion-card>
</ion-col>
</ion-row>
</ion-grid>



<ion-grid>
          <ion-row class="secondRow">
            <ion-col size-xl="3" size-md="6" size-xs="12">
              <ion-card class="benefitsContainer">
                <ion-card-content>
                  <h1>Benefits</h1>
                  <h2>Card Title</h2>
                  <p> Card Subtitle</p>
                </ion-card-content>
              </ion-card>
              </ion-col>

              <ion-col size-xl="3" size-md="6" size-xs="12">
                <ion-card class="whyContainer">
                  <ion-card-content>
                    <h1>Why?</h1>
                    <h2>Card Title</h2>
                    <p> Card Subtitle</p>
                  </ion-card-content>
                </ion-card>
                </ion-col>
        </ion-row>
        </ion-grid>

<!-- bottom grid for cards -->

<ion-grid>
      <ion-row class class="bottomRow">

 <ion-col ion-col sizeLg="3" sizeMd="3" sizeXs="3">
  <div class="img-wrapper">
  </div>
<ion-card class="card card-md has-card-footer">
  <div class="ion-card-header">Sales Coaches
    <ion-button fill="clear" position="right">
      <ion-icon  slot="icon-only" name="apps-sharp"></ion-icon>
    </ion-button>
  </div>
<div class="image-container">
  <ion-img src="./assets/images/B3.jpg"></ion-img>
</div>
<div class="ion-card-footer">
  <div class="coachName">Dave Karr</div>
  <div class="coachJob">VP of Marketing</div>
</div>
</ion-card>
</ion-col>

<ion-col ion-col sizeLg="3" sizeMd="3" sizeXs="3">
  <div class="img-wrapper">
  </div>
  <ion-card class="card card-md has-card-footer">
    <div class="ion-card-header">Sales Coaches
      <ion-button fill="clear" position="right">
        <ion-icon  slot="icon-only" name="apps-sharp"></ion-icon>
      </ion-button>
    </div>
  <div class="image-container">
    <ion-img src="./assets/images/B4.jpg"></ion-img>
  </div>
  <div class="ion-card-footer">
    <div class="coachName">Dave Karr</div>
    <div class="coachJob">VP of Marketing</div>
  </div>
  </ion-card>
  </ion-col>

  <ion-col ion-col sizeLg="3" sizeMd="3" sizeXs="3" >
    <div class="img-wrapper">
    </div>
    <ion-card class="card card-md has-card-footer">
      <div class="ion-card-header">Sales Coaches
        <ion-button fill="clear" position="right">
          <ion-icon  slot="icon-only" name="apps-sharp"></ion-icon>
        </ion-button>
      </div>
    <div class="image-container">
      <ion-img src="./assets/images/B3.jpg"></ion-img>
    </div>
    <div class="ion-card-footer">
      <div class="coachName">Dave Karr</div>
      <div class="coachJob">VP of Marketing</div>
    </div>
    </ion-card>
    </ion-col>

    <ion-col ion-col sizeLg="3" sizeMd="3" sizeXs="3">
      <div class="img-wrapper">
      </div>
      <ion-card class="card card-md has-card-footer">
        <div class="ion-card-header">Sales Coaches
          <ion-button fill="clear" position="right">
            <ion-icon  slot="icon-only" name="apps-sharp"></ion-icon>
          </ion-button>
        </div>
      <div class="image-container">
        <ion-img src="./assets/images/B4.jpg"></ion-img>
      </div>
      <div class="ion-card-footer">
        <div class="coachName">Dave Karr</div>
        <div class="coachJob">VP of Marketing</div>
      </div>
      </ion-card>
      <ion-button class="refreshButton" color="primary" (click)="Feedback()">Feedback</ion-button>
      </ion-col>
</ion-row>
</ion-grid>
</ion-grid>
</ion-content>
</ion-app>



































