.ion-card-footer>div {
  display: flex;
  background-color:#fff;
  padding: 5px;
  margin-left: 20px;
  align-items: center;
  justify-content: space-between;
}

.ion-card-headerSlider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ion-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#fff;
  padding: 5px;
  margin-left: 20px;
}

.aboutContainer {
  background-color:#01abce;
  color:#fff;
}

.sliderContainer {
  background-color:#01abce;
  color:#fff;
}

.benefitsContainer {
  background-color:#01abce;
  color:#fff;
}

.whyContainer {
  background-color:#01abce;
  color:#fff;
}

.img-wrapper {
  min-height: 200px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.ion-button {
  background: blue;
}

.refreshButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 400;
}

.ion-grid-container {
  display:grid;
  height: 100vh;
  width: 100vw;
  padding: 5px;
  margin: 5px;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 2fr;
}





